*{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.container{
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}
[class^="box-"]{
    background-color: skyblue;
    display: grid;
    place-items: center;
}
.box-1{
    /* grid-column-start: 1;
    grid-column-end: 13; */
    /* grid-column: 1/13; */
    grid-column: span 12;  
    grid-row: span 2;  
}
.box-2{
    /* grid-row-start: 2;
    grid-row-end: 13; */
    grid-column: span 2;
    grid-row: span 9;
}
.box-3{
    grid-column: span 8;
    grid-row: span 9;
}
.box-4{
    grid-column: span 2;
    grid-row: span 9;
}
.box-5{
    grid-column: span 12;
    grid-row: span 1;
}